{% extends 'base.html.twig' %}

{% block body %}
    <h1>Setting edit</h1>

    {{ form_start(edit_form) }}
    {{ form_widget(edit_form) }}
    <input type="submit" class="btn btn-success" value="Edit" />
    {{ form_end(edit_form) }}

    {{ form_start(delete_form) }}
    <br>
    <input type="submit" class="btn btn-danger" value="Delete">
    {{ form_end(delete_form) }}
    <a href="{{ path('setting_index') }}">Back to the list</a>
{% endblock %}
