{% extends 'base.html.twig' %}

{% block body %}
    <h1>Setting list</h1>

    <a class="btn btn-primary" href="{{ path('setting_new') }}">Create a new entry</a>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Key</th>
                <th>Value</th>
                <th>Created</th>
                <th>Modified</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for setting in settings %}
                <tr>
                    <td><a href="{{ path('setting_show', { 'id': setting.id }) }}">{{ setting.id }}</a></td>
                    <td>{{ setting.key }}</td>
                    <td>{{ setting.value }}</td>
                    <td>{% if setting.created %}{{ setting.created|date('Y-m-d') }}{% endif %}</td>
                    <td>{% if setting.modified %}{{ setting.modified|date('Y-m-d') }}{% endif %}</td>
                    <td>
                        <div class="list-group">
                            <a href="{{ path('setting_show', { 'id': setting.id }) }}"><button type="button" class="list-group-item">show</button></a>
                            <a href="{{ path('setting_edit', { 'id': setting.id }) }}"><button type="button" class="list-group-item">edit</button></a>
                        </div>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>


{% endblock %}
