{% extends 'base.html.twig' %}

{% block body %}
    <h1>Setting</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ setting.id }}</td>
            </tr>
            <tr>
                <th>Key</th>
                <td>{{ setting.key }}</td>
            </tr>
            <tr>
                <th>Value</th>
                <td>{{ setting.value }}</td>
            </tr>
            <tr>
                <th>Created</th>
                <td>{% if setting.created %}{{ setting.created|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Modified</th>
                <td>{% if setting.modified %}{{ setting.modified|date('Y-m-d') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

            <a class="btn btn-success" href="{{ path('setting_edit', { 'id': setting.id }) }}">Edit</a>
    {{ form_start(delete_form) }}
    <br>
    <input type="submit" class="btn btn-danger" value="Delete">
    {{ form_end(delete_form) }}
    <a href="{{ path('setting_index') }}">Back to the list</a>
{% endblock %}
